// utils
@import "./utils/vars";
@import "./utils/visually-hidden";

// base styles
@import "./base/common";
@import "./base/container";
@import "./base/reset";

// components
@import "./components/logo";
@import "./components/buttons";
@import "./components/modal";

// layouts
@import "./layouts/header";
@import "./layouts/hero";
@import "./layouts/benefits";
@import "./layouts/works";
@import "./layouts/our-team";
@import "./layouts/clients";
@import "./layouts/footer";
@import "./layouts/portfolio";
