:root {
  // base colors
  --accent-color: #2196f3;
  --primary-black-color: #000000;
  --primary-white-color: #ffffff;
  --lightest-gray-color: #f5f4fa;
  --gray-color: #afb1b8;

  //   text colors
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --inverse-light-text-color: rgba(255, 255, 255, 0.6);

  // typography
  --main-font-family: "Roboto", sans-serif;
  --second-font-family: "Raleway", sans-serif;
}
