/* buttons */
.button {
  padding: 10px 32px;
  min-width: 200px;
  border-width: 0;
  border-radius: 4px;
  cursor: pointer;

  font-family: inherit;
  color: var(--primary-white-color);
  text-align: center;

  &--primary {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: #2196f3;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  }

  &--primary:active {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #188ce8;
  }
}

.button--primary-small {
  padding: 6px 22px;
  min-width: 73px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--lightest-gray-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
      0 3px 1px 0 rgba(0, 0, 0, 0.1);
    color: var(--primary-white-color);
  }
}

.button--primary-small.accent {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
