/* logo */
.logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;

  @include media-screen(tablet) {
    margin-right: 87px;
  }

  @include media-screen(desktop) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 92px;
  }

  font-family: var(--second-font-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--primary-black-color);

  &__text--accent {
    color: var(--accent-color);
  }
}
