/* logo */
.logo {
  margin-right: 93px;

  font-family: var(--second-font-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--primary-black-color);

  &__text--accent {
    color: var(--accent-color);
  }
}
