body {
  font-family: var(--main-font-family);
  font-size: 14px;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

/* sections */
.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    color: var(--secondary-text-color);
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
  }
}
