body {
  font-family: var(--main-font-family);
  font-size: 14px;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

/* sections */
.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include media-screen(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    margin-bottom: 30px;

    color: var(--secondary-text-color);
    font-size: 28px;
    letter-spacing: 0.03em;
    text-align: center;

    @include media-screen(desktop) {
      margin-bottom: 50px;
      font-size: 36px;
    }
  }
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
