.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  // outline: 2px solid tomato;

  @include media-screen(mobile) {
    width: 480px;
  }

  @include media-screen(tablet) {
    width: 768px;
  }

  @include media-screen(desktop) {
    width: 1200px;
  }
}
