/* benefits */

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits__item {
  @include media-screen(tablet) {
    width: calc((100% - 30px) / 2);
  }

  @include media-screen(desktop) {
    width: calc((100% - 90px) / 4);
    flex-wrap: nowrap;
  }
}

.benefits__pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: var(--lightest-gray-color);
  border-radius: 4px;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__subtitle {
  margin-bottom: 10px;

  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.benefits__content {
  line-height: 1.71;
  letter-spacing: 0.03em;
}
