/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  @include media-screen(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    column-gap: 165px;
    row-gap: 60px;
  }

  @include media-screen(desktop) {
    flex-wrap: nowrap;
    gap: 0;
    justify-content: flex-start;
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media-screen(desktop) {
    width: 231px;
    margin-right: 70px;
  }
}

.footer__logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  color: var(--primary-white-color);

  @include media-screen(desktop) {
    margin-left: 0;
  }
}

.footer-address__list {
  text-align: center;

  @include media-screen(desktop) {
    text-align: start;
  }
}

.footer-address {
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;

  &__item {
    display: block;
    margin-bottom: 8px;
  }

  &__map {
    color: var(--primary-white-color);
  }

  &__link {
    letter-spacing: 0.03em;
    color: var(--inverse-light-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer-address .link:hover,
.footer-address .link:focus {
  color: var(--accent-color);
}

.footer-address__item:last-child {
  margin-bottom: 0;
}

/* follow list */
.footer-subtitle {
  margin-bottom: 20px;
  text-align: center;

  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);

  @include media-screen(desktop) {
    text-align: start;
  }
}

.footer-follow {
  text-align: center;

  @include media-screen(desktop) {
    margin-right: 93px;
  }

  &__list {
    display: flex;
    column-gap: 10px;
  }

  &__item {
    width: 44px;
    height: 44px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: var(--primary-white-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.icon--dark-mode {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-follow__link:hover,
.footer-follow__link:focus {
  background-color: var(--accent-color);
}

.footer-subscribe {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include media-screen(tablet) {
    width: 450px;
  }

  @include media-screen(desktop) {
    width: auto;
  }

  &__input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @include media-screen(desktop) {
      flex-direction: row;
      gap: 12px;
    }
  }

  &__input {
    padding: 15px 16px;
    width: 100%;
    height: 50px;

    color: var(--primary-white-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: rgba(33, 150, 243, 0);

    @include media-screen(desktop) {
      width: 358px;
    }
  }
}

.footer-subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.btn-subscribe {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 28px;
  padding-right: 28px;
}

.button__icon {
  fill: var(--primary-white-color);
}
