/* header */
.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
  }
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-nav {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.header-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:hover {
    color: var(--accent-color);
  }

  &--current {
    color: var(--accent-color);
  }

  &--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    color: var(--accent-color);

    background: #2196f3;
    border-radius: 2px;
  }
}

/* header contacts */

.header-contacts {
  display: flex;
  gap: 30px;
  align-items: center;

  &__item {
    display: flex;
    gap: 10px;
    align-items: center;

    font-weight: 500;
    letter-spacing: 0.02em;
  }

  &__link {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
  }
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--accent-color);
}
