/* what we do */
.works {
  padding-top: 0;

  &__title {
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    column-gap: 30px;
  }

  &__thumb {
    position: relative;
    width: 370px;
    height: 294px;
    background: var(--gray-color);
  }

  &__pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;

    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-white-color);
  }
}
